#tname {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #213752;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: black;

}

.tab-pane .tab:selected {
    -fx-background-color: #213752;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #213752;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #213752;
}

.list-cell:filled:selected:focused {
    -fx-background-color: #213752;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.combo-box:hover {
    -fx-background-color: #213752;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #213752;
}

.table-view {
    -fx-background-color: black;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#coursesTable {
    -fx-table-cell-border-color: transparent;
}

#tableView .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-background-color: black;
    -fx-text-fill: white;
}

#coursesList .column-header-background {
    -fx-background-color: #213752;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-min-height: 78;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-row-cell:hover {
    -fx-background-color: #213752;
}
.table-row-cell:selected{
    -fx-background-color: #213752;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}